body {
	width: 100%;
	margin: auto;
	font-family: Georgia, Times New Roman, Times, serif;
	font-size:1.125rem;
	/*background: #CDCDCD;*/
  	background-image: url('../images/background_bear.jpg');
  	/*background-size: 100% 100%;*/
}

body.img {
	opacity: 0.5;
}

p {
	color: #2b2b2b;
	/*color: #424242;*/
}

h1, h2, h3 {
	color: #282728;
	text-transform: uppercase; 
	font-family: "Helvetica Neue", Helvetica, Arial, Roboto, Poppins, sans-serif;
}

a {
	text-decoration: none;
	/*color: #2E86C1;*/
  /*color: #2A5DB0;*/
 	color: #0479a8;
}

a:hover {
  background: none;
  /*border-bottom: 1px solid #2A5DB0;*/
  /*color: purple;*/
  text-decoration: underline;
}

a:active {
  background: none;
  color: purple;
}

.header {
	/*background: #252523;*/
  	background: rgba(255, 255, 255, 0.9);
	width: 100%;
	height: 55px;
	top: 0px;
	position: fixed;
}

.container_header {
	max-width: 90%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	height: 55px;
  background: none;
  border-bottom: 1px solid #BDC3C7;
}

.content {
	margin-top: 84px;
	max-width: 100%;
	margin-bottom: 25px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 15px;
}

.container_content {
	background: rgba(255, 255, 255, 0.75);
	max-width: 900px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;

}

.copyright {
	border-top: 1px solid #BDC3C7;
	max-width: 900px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: rgba(255, 255, 255, 0.75);
}

.logo {
	float: left;
	/*height: 54px;*/
}

.logo a {
  color: #2b2b2b;
}

.logo a:hover {
  color: #696969;
  text-decoration: none;
}

.logo h2 {
	padding: 10px 0px;
	margin: 0 auto;
	float: bottom;
	font-family: "Arizonia", Georgia, Times New Roman, Times, serif;
	text-transform: none;
	font-size: 1.75rem;
	/*font: 400 100px/1.3;*/
	color: #2b2b2b;
	text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}

.nav {
	float: right;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 0px;
}


projecttitle, papertitle {
  font-weight: bold
}

jrnlconf {
	font-style: italic;
}

.paper {
	padding-bottom: 10px;
	padding-left: 0px;
}

.project {
	padding-bottom: 10px;
	padding-left: 0px;
}

.course {
	padding-bottom: 10px;
	padding-left: 0px;
}


.anchor {
    display: block;
    position: relative;
    top: -84px;
    visibility: hidden;
}

.profile_sec {
	padding-bottom: 10px;
	padding-top: 25px; 
	overflow: hidden;
}

.profile_sec h1 {
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  margin-top: 0;
  font-size: 2rem;
}

.profile_sec h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

.profile_sec ul {
	margin: 0px;
	padding: 0px;
	float:left;
	display: inline-block;
}

.profile_sec li {
  padding-right: 30px;
  margin: 0px;
  float: left;
  display: inline-block;
}

.content_sec, .blog {
	padding-bottom: 10px;
	padding-top: 10px; 
}

.blog h2 {
	font-size: 1.5rem;
	text-transform: none;
}

.content_sec h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

.content_sec h3 {
  font-size: 1.25rem;
  
}

.content_sec ul {
	list-style-type: square;
	padding-left: 30px;
}

.content_sec li {
	padding-bottom: 2px;
}

.player {
  margin: 0 auto;
  font-size: small;
  max-width:100%;
}


/* Add a black background color to the top navigation */
.topnav {
  /*background-color: #252523;*/
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  float: right;
  font-size: 1.125rem;
  text-transform: uppercase;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #2b2b2b;
  text-align: center;
  padding: 2px 0px 2px 0px;
  margin: 12px 16px 12px 16px;
  text-decoration: none;
}

/* Add an active class to highlight the current page */
.active {
  background-color: none;
  color: purple;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  color: #2b2b2b;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  /*font-size: 1.05rem;*/
  border: none;
  outline: none;
  color: white;
  /*padding: 14px 16px 14px 16px;*/
  background-color: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #2b2b2b;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  /*background-color: #555;*/
  /*color: #696969;*/
  color: #2b2b2b;
  border-bottom: 2px #2b2b2b solid;
  /*border-bottom: none;*/
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: #2b2b2b;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 720px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;

  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 720px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    /*font-size: 1.125rem;*/
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}