body {
	width: 100%;
	margin: auto;
	font-family: Georgia, Times New Roman, Times, serif;
	font-size:1.125rem;
	/*background: #CDCDCD;*/
  	background-image: url('../images/background.png');
  	background-size: contain;
}


p {
	/*color: #2b2b2b;*/
	color: #494949;
	line-height: 1.5rem;
}

h1, h2, h3, h4 {
	/*color: #282728;*/
	color: #494949;
	text-transform: uppercase; 
	font-family: "Helvetica Neue", Helvetica, Poppins, Arial, Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
	
}

h1, h2 {
	padding-bottom: 20px;
}

h3, h4 {
	padding-bottom: 5px;
	padding-top: 10px;
}


a {
	text-decoration: none;
	/*color: #2E86C1;*/
  /*color: #2A5DB0;*/
 	color: #0479a8;
}

a:hover {
  background: none;
  /*border-bottom: 1px solid #2A5DB0;*/
  /*color: purple;*/
  text-decoration: underline;
}

a:active {
  background: none;
  color: purple;
}

ul {
	line-height:1.5rem;
	color: #494949;
}

/*
.mini_bar {
    height: 5px;
    width: 40px;
    background-color: #494949;
    margin-top: 20px;
}*/

.mini_bar {
  position: relative;
  margin-top: 2.2rem; }
  .mini_bar:before {
    position: absolute;
    left: 0;
    height: 5px;
    content: '';
    width: 2.25rem;
    top: -12px;
    background-color: #494949; }

.header {
	/*background: #252523;*/
  	background-color: rgba(255, 255, 255, 0.95);
	width: 100%;
	height: 56px;
	top: 0px;
	position: fixed;
	z-index: 999;
	/*box-shadow: 1px 1px 5px 6px #C0C0C0;*/
}

.container_header {
	max-width: 100%;
	height: 100%;
	/*margin: 0 auto;*/
	margin-left: 20px;
	margin-right: 20px;
	background: inherit;
	/*display: grid;*/
	/*grid-template-columns: auto auto;*/
	border-bottom: 1px #C0C0C0 solid;
}

.content {
	/*position: absolute;*/
	margin-top: 84px;
	max-width: 100%;
	margin-bottom: 25px;
	margin-left: 20px;
	margin-right: 20px;
}

.container_content {
	background: rgba(255, 255, 255, 0.6);
	max-width: 900px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;

}

.copyright {
	border-top: 1px solid #BDC3C7;
	max-width: 900px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: rgba(255, 255, 255, 0.6);
}

.logo {
	position: fixed;
	background-color: inherit;
	top: 0px;
	left: 20px;
	z-index: 999;
}

.logo a {
  color: #2b2b2b;
}

.logo a:hover {
  color: #696969;
  text-decoration: none;
}

.logo h2 {
	padding: 10px 16px;
	margin: 0 auto;
	font-family: "Arizonia", Georgia, Times New Roman, Times, serif;
	text-transform: none;
	font-size: 1.75rem;
	/*font: 400 100px/1.3;*/
	text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}

.project {
	padding: 10px 0px 30px 0px;
	width: 100%;
}

.paper, .course {
	padding-bottom: 15px;
	width: 100%;
}

.project {
	display: grid;
	grid-template-columns: auto auto;
}

.project_img {
	width: 300px;
	padding-right: 60px;
}

.project_info {
	padding: 20px 0px;
}


.projecttitle, .papertitle, .coursetitle {
	font-weight: bold;
}

.projecttitle a, .papertitle a, .coursetitle a {
	/*color: #282728;*/
	color: #494949;
}

.projecttitle a:hover, .papertitle a:hover, .coursetitle a:hover {
	color: #0479a8;
	text-decoration: none;
}

.projecttitle a:active, .papertitle a:active, .coursetitle a:active {
  color: purple;
}


.anchor {
    display: block;
    position: relative;
    top: -84px;
    visibility: hidden;
}

.profile_sec {
	padding-bottom: 40px;
	padding-top: 25px; 
	display: grid;
	grid-template-columns: 350px 550px;
}

.profile_img {
	width: 300px;
}

.profile_sec img {
	width: 300px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.profile_info {
}

.profile_sec h1 {
  font-weight: 800;
  /*-webkit-font-smoothing: antialiased;*/
  text-align: left;
  margin-top: 5px;
  /*font-size: 2rem;*/
  padding: 0px;
}

.profile_sec h2 {
  /*font-size: 1.5rem;*/
  font-weight: 800;
}

.profile_sec ul {
	margin: 0px;
	padding: 0px;
	float:left;
	display: inline-block;
}

.profile_sec li {
  padding-right: 30px;
  margin: 0px;
  float: left;
  display: inline-block;
}

.content_sec, .blog {
	padding-bottom: 40px;
	padding-top: 20px; 
}

.blog h2 {
	/*font-size: 1.5rem;*/
	text-transform: none;

}

.content_sec h2 {
  /*font-size: 1.5rem;*/
  font-weight: 800;
}

.content_sec h3 {
  /*font-size: 1.25rem;*/
  
}

.content_sec ul {
}

.content_sec li {
}

.project img {
	width: 300px;
	height: 190px;
	box-shadow: 3px 4px 5px 6px #C0C0C0;
	transition: transform 0.5s;
}

.project img:hover {
	-ms-transform: scale(1.05); /* IE 9 */
	-webkit-transform: scale(1.05); /* Safari 3-8 */
	transform: scale(1.05); 
}

.project ul {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.project li {
	float: left;
	display: inline;
}

.player {
  margin: 0 auto;
  font-size: small;
  max-width:100%;
}


/* Add a top navigation */
.topnav {
	background-color: inherit;
	overflow: hidden;
	float: right;
	height: 100%;
	font-size: 1.125rem;
	text-transform: uppercase;
  	font-family: "Helvetica Neue", Helvetica, Poppins, Arial, Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;

}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: #282728;
	text-align: center;
	padding: 2px 0px;
	margin: 14px 16px;
	text-decoration: none;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover {
  border-bottom: 2px #282728 solid;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
	color: #282728;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 810px) {
	.topnav {
		width: 100%;
		margin: 0 auto;
		text-align: left;
		height: auto;
	}

	.topnav .icon {
		text-align: right;
	}

	.topnav a {display: none;}
	.topnav a.icon {
		float: none;
		display: block;
		margin: 0;
		padding: 16px 10px 16px 10px;
	}
}

@media screen and (max-width: 810px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		text-align: right;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
		margin: 0;
		padding: 16px 10px 16px 10px;
	}

	.topnav.responsive a:not(:first-child):hover{
		text-decoration: none;
		border-bottom: none;
		background-color: #DCDCDC;
	}

	.topnav a.icon:hover {
		text-decoration: none;
		color: #696969;
		border-bottom: none;
		background-color: none;
	}

	.topnav.responsive a:active, .topnav a.icon:active {
	}

}

/* controle the screen size change*/
@media screen and (max-width: 860px) {
  .project {
  	display: grid;
	grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) {
  .profile_sec {
  	display: grid;
	grid-template-columns: 1fr;
  }
}
