a {
  color: #07889b;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'PT Serif', serif;
  font-size: 15px
}

strong {
  font-family: 'PT Serif', serif;
  font-size: 15px;
}

heading {
  font-family: 'Concert One', serif;
  font-size: 27px;
  color: #464750;
}

coursetitle, papertitle, schooltitle {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  font-weight: bold
}


name {
  font-family: 'Lora', serif;
  font-size: 36px;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

li{
  margin: 6px 0;
}